body{
    display: flex;
    margin: 0px;
}
.div1{
    height: 100vh;
    width: 20%;
    border: 1px solid black;
}
.div2{
    flex-direction: column;
    height: 90vh;
    width: 100%;
    border: 1px solid black;
}
.divs2{
    height: 10vh;
    width: 100%;
    border: 1px solid black;
}
#kol1{
    width: 60%;
    height: 5vh;
    margin-top: 250px;
    margin-left: 45px;
}
#kol2{
    width: 60%;
    height: 5vh;
    margin-top: 100px;
    margin-left: 45px;
}
#kol3{
    width: 60%;
    height: 5vh;
    margin-top: 100px;
    margin-left: 45px;
}
#color1{
    /* margin-top: 15px; */
    margin-left: 100px;
    width: 20%;
    height: 5vh;
}
#color2{
    width: 20%;
    height: 5vh;
}
#color3{
    width: 20%;
    height: 5vh;
}
.lewo{
    height: 10vh;
    width: 50%;
    border: 1px solid black;
}
.prawo{
    height: 10vh;
    width: 100%;
    border: 1px solid black;
}