body{
    display: flex;
    margin: 0;
}
.div1{
    display: flex;
    width: 25%;
    height: 100vh;
    border: 1px solid black;
}

.div2{
    width: 50%;
     height: 100vh;
     border: 1px solid black;
}
.gora{
     width: 100%;
     height: 50vh;
     border: 1px solid black;
}
.dol{
    width: 100%;
    height: 50vh;
    border: 1px solid black;
}
.div3{
    display: flex;
    width: 25%;
    height: 100vh;
    border: 1px solid black;
}